@import 'tailwindcss';

.btn{
    @apply  rounded-xl p-2 px-4;
}

.center{
    @apply flex justify-center h-screen items-center
}

.btn-primary {
    @apply bg-green-600 text-white;
}

.btn-danger {
    @apply bg-red-600 text-white;
}

.btn-warning {
    @apply bg-yellow-600 text-white;
}

button.btn:hover {
    @apply opacity-70;
}

input:disabled, textarea:disabled, button:disabled {
    @apply opacity-60;
}

tbody tr {
   @apply hover:bg-gray-100;
}

tbody tr td {
 @apply p-4;   
}


@media print {
  body {
    background: white !important;
  }
  .print-invoice {
    box-shadow: none !important;
    border: none !important;
    background: rgba(255, 255, 255, 0.151) !important;
    margin: 0 auto !important;
    padding: 0 !important;
    max-width: 400px !important;
    width: 100% !important;
  }
}